---
layout: default
title: "Silo Silla"
---
{% assign months_short = "gen,feb,mar,apr,mag,giu,lug,ago,set,ott,nov,dic" | split: "," %}

<header class="site-header">
  <p class="site-name">Silo Silla</p>
  <p class="site-desc"><em>Medio tutissimus ibis.</em></p>
</header>

<ul class="post-list">
  {% for post in site.posts %}
    {% assign m_idx = post.date | date: "%-m" | minus: 1 %}
    {% assign day   = post.date | date: "%-d" %}
    {% assign year  = post.date | date: "%Y" %}
    {% assign mon   = months_short[m_idx] %}
    <li class="post-item{% if post.layout == 'question' %} post-item--question{% endif %}">
      <div class="post-meta-small">{{ day }} {{ mon }} {{ year }}{% if post.ciclo %} &middot; {{ post.ciclo }}{% endif %}{% if post.layout == 'question' %} &middot; <span class="tag-domanda">domanda</span>{% endif %}</div>
      <a href="{{ post.url | relative_url }}"{% if post.layout == 'question' %} class="link-domanda"{% endif %}>{{ post.title }}</a>
    </li>
  {% endfor %}
</ul>

<footer class="site-footer">
  {{ site.posts.size }} voci &middot; dal 2 marzo 2026
</footer>
